.gradle/
build/
!build/libs/

.idea/
*.iml
.vscode/

**/src/test/

**/build/
**/out/
**/target/

**/gradle/wrapper/dists/

*.iws
*.ipr

.git/
.gitignore

compose.dev.yaml
docker-compose*.yml
*.dockerignore

.DS_Store
Thumbs.db

*.log

**/reports/
**/test-results/